.facilities {
  font-family: var(--font-opensans);
  width: 75%;
  margin: auto;
  margin-top:2rem;
  text-align: center;
  /* padding-top: 10em; */
}

.facilities div.about{
  width: 100%;
  height: 200%;
  padding: 5px;
  padding-top: 0;
  border-radius: 20px;
  border: 2px solid #9d9d9d;
  box-shadow: rgb(111, 111, 111) 0 8px 8px 0;
  font-weight: 500;
  font-family: Arial, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
}

.facilities-row .mt-1 {
  background: #525252;
  border-radius: 2px;
  box-shadow: #848484 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;    font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.facilities-row .mt-1:hover {
  color: white;
}

.facilities p {
  margin-top: 3em;
  color: var(--charcoal-gray);
  font-family: var(--font-roboto);
}

.facilities-col p {
  margin-top: 1.5em;
}

.facilities h1 {
  font-size: 3em;
  font-family: var(--font-opensans);
  color: var(--steel-gray);
}
.facilities h1 span{
  color: #606060;
}
.facilities-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}

.facilities-col text-center img :hover {
  box-shadow: 10px 10px 5px #000000;
  -moz-box-shadow: 0px 10px 5px #000000;
  -webkit-box-shadow: 0px 10px 5px #000000;
  cursor: pointer;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col .image {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.facilities-col p {
  padding: 0;
  margin-bottom: 1em;
}

.facilities-col h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.facilities-col a {
  color: var(--steel-gray);
  border-bottom: 1px dashed var(--steel-gray);
  padding: 0.8em;
  transition: all 0.1s;
}

.facilities-col a:hover {
  color: var(--slate-gray);
}

@media(max-width: 700px) {
  .facilities {
    padding-top: 6em;
  }

  .facilities-row {
    flex-direction: column;
  }
}
  .facilities-col text-center img :hover {
    box-shadow: 10px 10px 5px #000000;
    -moz-box-shadow: 0px 10px 5px #000000;
    -webkit-box-shadow: 0px 10px 5px #000000;
    cursor: pointer;
  }

  .facilities-col img {
    width: 100%;
    border-radius: 10px;
  }

  .facilities-col .image {
    width: 100%;
    height: 45vh;
    object-fit: cover;
  }

  .facilities-col p {
    padding: 0;
    margin-bottom: 1em;
  }

  .facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  .facilities-col a {
    color: var(--steel-gray);
    border-bottom: 1px dashed var(--steel-gray);
    padding: 0.8em;
    transition: all 0.1s;
  }

  .facilities-col a:hover {
    color: var(--slate-gray);
  }

  @media(max-width: 700px) {
    .facilities {
      padding-top: 6em;
    }

    .facilities-row {
      flex-direction: column;
    }
  }