.main-container{
  width: 90vw;
  height: 30rem;
  min-height : 100vh;
  margin: 0 auto;
  position: relative;
  display: flex; 
  flex-direction: row; 
}

.text-container{
  margin-top: 7em;
  width: 50%;
  position: absolute;
  left: 0;
  font-family: var(--font-opensans);
  color : var(--steel-gray);
  
}

.text-container .title{
  color: var(--slate-gray);
  font-size: 1.6em;
  padding: 0; 
}

.text-container .exclaimation{
  color: var(--slate-gray);
}


.image-container{
  width: 50%;
  position: absolute;
  right: 0;
  left: 65%;
  margin-top: 15%;
}

.img-responsive{
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}


.fa-discord{
  font-size: 1.1em;
  color: var(--slate-gray);
  padding-right: 12px;
}

.meetingroom-container{
  width: 90%;
  min-height: 100vh;
  font-family: var(--font-opensans);
  padding-top: 10em;
}

.meetingroom-container .main-container-studyroom .img-container{
  position: relative;
  width: 50%;
  height: 70vh;
}

.sr-img{
  position: absolute;
  border-radius: 10px;
  box-shadow: rgba(102, 102, 102, 0.61) 0px 2px 5px 0px;
  width: 20em;
  height: 10em;
  object-fit: cover;
  transition: all 0s;
}

.acadmic{
  right: 20%;
  top: 0;
  z-index: 1;
}

.devdo{
  z-index: 2;
  top: 25%;
  left: 0;
  
}


.dsa{
  left: 50%;
  bottom: 0;
  top: 50%;
  z-index: 2;
  
}

.new {
  
  left: 35%;
  top: 50%;
  z-index: 2;
}

.text-container-wellnessroom{
  width: 40%;
  
}
.text-container-wellnessroom h1{
  font-size: 3.5em;
}
.text-container-wellnessroom span{
  color: var(--slate-gray);
}

.room-main{
  font-size: 1.0em;
  margin-top: 5em;
}

.room-main span{
  color: var(--slate-gray);
}

.room-main h1{
  color: var(--steel-gray);
  padding-bottom: 10px;
  transition: all 0.1s;
  width: fit-content;
}

.room-main a h1:hover{
  border-bottom: 2px dashed var(--slate-gray);
}

.img-buy-coffee{
  width: 35px;
  height: 35px;
}

@media (max-width: 1000px) {
  .main-container {
    flex-direction: column; 
  }

  .text-container,
  .image-container {
    width: 100%; 
    position: static; 
    margin-top: 0;
    left: auto; 
    right: auto; 
  }

  .text-container {
    width: 100%; 
  }
}