<link rel="stylesheet" type="text/css" href="css/index.css" />

<div class="main-content">
    <nav id="nav" class="center p-4 w-100">
      <div
        class="nav-container w-100 d-flex align-items-center justify-content-between"
      >
        <a class="logo" href="/"> SoulQuoτient ! </a>
        
        <div class="nav-links">
          <ul class="space-between">
            <li class="pl-3 pr-3"><a href="/meetingroom">Meeting Room</a></li>
            <li class="pl-3 pr-3">
              <a href="https://discord.gg/ZkHXnxhda7" target="__blank">Discord Server</a>
            </li>
            <li class="pl-3 pr-3"><a href="/wellness">Wellness Statistics</a></li>
            <li class="pl-3 pr-3"><a href="https://github.com/" target="_blank">You Tube</a></li>
          </ul>
        </div>

        <div class="btn-container center">
          <a
            href="/join-us"
            class="button-primary button-all"
            style="color: white"
          >
            Join Us
          </a>
        </div>
      </div>
    </nav>

    <!-- <nav id="responsive-nav">
      <div class="faq-box">
        <div class="faq-row res-nav-row">
          <button class="faq-btn">
            <a class="logo" href="#"> SoulQuoτient ! </a>
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="faq-content responsive-nav-content">
            <ul class="nav-items-response">
              <li><a href="/meetingroom">Meeting Room</a></li>
              **discord link added**
              <li><a href="https://discord.gg/XwtMJXrv" target="_blank">Discord Server</a></li>
              <li><a href="/wellness-stats">Wellness Statistics</a></li>
              <li><a href="https://youtube.com" target="_blank">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav> -->
    <!-- Navbar ends here -->
</div>