<header>
    <div class="wrapper">
        <div class="loading">
          <div class="bounceball"></div>
          <div class="content"><h1>Our Project Name</h1></div>
        </div>
    </div>

    <!-- nav bar -->
    <div class="main-content">
        <nav id="nav" class="center p-4 w-100">
          <div
            class="nav-container w-100 d-flex align-items-center justify-content-between"
          >
            <a class="logo" href="#">Our Project Name </a>
            
            <div class="nav-links">
              <ul class="space-between">
                <!-- add route  -->
                <li class="pl-3 pr-3">
                    <a href="make a route ">Study Room</a>
                </li>
                <li class="pl-3 pr-3">
                    <!-- link working -->
                  <a href="https://discord.gg/ZkHXnxhda7" target="__blank">Discord Server</a>
                </li>
                <li class="pl-3 pr-3">
                    <!-- add route  -->
                    <a href="">Study Statistics</a>
                </li>
                <!-- link works perfectly  -->
                <li class="pl-3 pr-3"><a href="https://github.com/gurveenmadaan/MINOR-PROJECT-SEM-7" target="_blank">GitHub</a></li>
              </ul>
            </div>
    
            <div class="btn-container center">
                <!-- create route for other page  -->
              <a
                href="./src/pages/subscribe.html"
                class="button-primary button-all"
                style="color: white"
              >
                Subscribe Us
              </a>
            </div>
          </div>
        </nav>
    
        <nav id="responsive-nav">
          <div class="faq-box">
            <div class="faq-row res-nav-row">
              <button class="faq-btn">
                <a class="logo" href="#"> Website name </a>
                <i class="fa-solid fa-bars"></i>
              </button>
              <div class="faq-content responsive-nav-content">
                <ul class="nav-items-response">
                  <li><a href="public/studyroom.html">Study Room</a></li>
                  <li><a href="https://discord.gg/ZkHXnxhda7">Discord Server</a></li>
                  <li><a href="src/pages/Stats/stats.html">Study Statistics</a></li>
                  <li><a href="https://github.com/tier3guy/Acadmica">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <!-- Navbar ends here -->

</header>