<!-- Navbar starts here -->
<nav id="nav" class="center p-4 w-100">
    <div
      class="nav-container w-100 d-flex align-items-center justify-content-between"
    >
      <a class="logo" href="/public/index.html"> @cadmica! </a>
      
      <div class="nav-links">
        <ul class="center">
          <li class="pl-3 pr-3"><a href="./studyroom.html">Study Room</a></li>
          <li class="pl-3 pr-3">
            <a href="https://discord.gg/ZkHXnxhda7" target="__black">Discord Server</a>
          </li>
          <li class="pl-3 pr-3"><a href="./stats">Study Statistics</a></li>
        </ul>
      </div>

      <div class="btn-container center">
        <a
          href="../src/pages/subscribe.html"
          class="button-primary button-all"
        >
          Subscribe Us
        </a>
      </div>
    </div>
  </nav>

  <nav id="responsive-nav">
    <div class="faq-box">
      <div class="faq-row res-nav-row">
        <button class="faq-btn">
          <a class="logo" href="/public/index.html"> @cadmica! </a>
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="faq-content responsive-nav-content">
          <ul class="nav-items-response">
            <li><a href="">Study Room</a></li>
            <li><a href="">Discord Server</a></li>
            <li><a href="">Study Statistics</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar ends here -->