<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= title  %>
    </title>

    <link rel="shortcut icon" href="images/ACADMICA.png" type="image/x-icon">

    <!-- FONTAWESOME CDN LINK -->
    <script
      src="https://kit.fontawesome.com/623d2ea8a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- BOOTSTRAP CDN LINK GOES HERE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>

    <div class="wrapper">
      <div class="loading">
        <div class="bounceball"></div>
        <div class="content"><h1>SoulQuoτient !</h1></div>
      </div>
    </div>
    
    <!-- Navbar starts here -->
    <div class="main-content">
    <nav id="nav" class="center p-4 w-100">
      <div
        class="nav-container w-100 d-flex align-items-center justify-content-between"
      >
        <a class="logo" href="/"> SoulQuoτient ! </a>
        
        <div class="nav-links">
          <ul class="space-between">
            <li class="pl-3 pr-3"><a href="/meetingroom">Meeting Room</a></li>
            <li class="pl-3 pr-3">
              <a href="https://discord.gg/ZkHXnxhda7" target="__blank">Discord Server</a>
            </li>
            <li class="pl-3 pr-3"><a href="/wellness">Wellness Statistics</a></li>
            <li class="pl-3 pr-3"><a href="https://github.com/" target="_blank">You Tube</a></li>
          </ul>
        </div>

        <div class="btn-container center">
          <a
            href="/subscribe"
            class="button-primary button-all"
            style="color: white"
          >
            Join Us
          </a>
        </div>
      </div>
    </nav>

    <!-- <nav id="responsive-nav">
      <div class="faq-box">
        <div class="faq-row res-nav-row">
          <button class="faq-btn">
            <a class="logo" href="#"> SoulQuoτient ! </a>
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="faq-content responsive-nav-content">
            <ul class="nav-items-response">
              <li><a href="/studyroom">Meeting Room</a></li>
              <li><a href="https://discord.gg/ZkHXnxhda7" target="_blank">Discord Server</a></li>
              <li><a href="/studystats">Wellness Statistics</a></li>
              <li><a href="https://github.com" target="_blank">You Tube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav> -->
    <!-- Navbar ends here -->

    <!-- Main hero page starts here -->
    <div class="main-container">
      <div class="text-container">
        <h1><span class="title">SoulQuoτient  </span></h1>
        <h3>
          Your Ultimate Sanctuary for Holistic Wellness 
          <!-- <span class="exclaimation">!</span> -->
        </h3>

        <p class="mt-2">
          Join the SoulQuoτient  Community -Your Holistic Haven for Empowering Each Other on the Journey to 
          Well-being. Together, we thrive in mind, body, and spirit."
         <br> For the community, by the community!
        </p>

        <!-- <div class="main-btn-container mt-5 d-flex">
          <button class="button-all button-primary btn-join">
            <a href="/studyroom" class="btn-join-anchor-tag">Join Us</a>
          </button>
          <button class="button-all btn-discord">
            <i class="fa-brands fa-discord"></i><a href= "https://discord.com/invite/ZkHXnxhda7" target="_blank">Discord</a>
          </button>
        </div> -->
      </div>
  
      <div class="image-container">
        <img
          src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt="image"
          class="img-responsive"
        />
      </div>
    </div>
    <!-- Main hero page ends here -->

    <!-- About SoulQuoτient   -->
    <section class="facilities">
      <h1>We Are <span id="aboutHeading">SoulQuoτient  </span> </h1>
      <h3>Elevate Your Essence, Enrich Your Life.</h3>
      <div class="about">
        <p>
          Welcome to SoulQuoτient , your sanctuary for holistic well-being and inner balance. In the hustle and 
          bustle of our modern lives, finding harmony between mind, body, and spirit is essential for a fulfilling 
          and joyful existence. At SoulQuoτient , we embark on a journey to explore the depths of wellness, delving 
          into ancient wisdom and contemporary practices to nourish every facet of your being.
          <br> 
          <br>
          Our mission is to guide you towards discovering and enhancing your soul's quotient—a measure of your 
          overall well-being that encompasses not only physical health but also mental clarity, emotional resilience,
          and spiritual enrichment. We believe that true wellness arises from a harmonious integration of these 
          elements, fostering a sense of vitality that radiates from within.
          <br> 
          <br>
          Whether you are a seasoned wellness enthusiast or just beginning your path to self-discovery, Soul 
          Quotient is your companion on this transformative adventure. Through insightful articles, expert advice, 
          and a vibrant community, we aim to inspire and empower you to cultivate a lifestyle that nurtures your 
          soul, elevates your consciousness, and brings lasting joy.
          <br> 
          <br>
          Join us on this expedition towards a higher SoulQuoτient , where well-being is not just a destination 
          but a continuous, evolving journey. Embrace the wisdom that resides within you, and let SoulQuoτient  
          be your compass on the path to a more vibrant and fulfilling life.
        </p>
      </div>
      
      <div class="facilities-row">
        <div class="facilities-col text-center">
          <img
            class="image"
            src="https://yourwellnessimageurl.com"
          />
          <h3 class="text-center">Wellness Practices</h3>
          <p>Explore a harmonious collection of wellness practices and resources for a balanced life.</p>
          <a class="mt-1" href="/mainpage"
            >Discover SoulQuoτient</a
          >
        </div>
        <div class="facilities-col text-center">
          <img
            class="image"
            src="https://yourwellnessimageurl.com"
          />
          <h3 class="text-center">Mindful Living</h3>
          <p>Cultivate mindfulness through a variety of practices designed to enhance your daily life.</p>
          <a class="mt-1" href="/mindfuliving"
            >Explore Here</a
          >
        </div>
        <div class="facilities-col text-center">
          <img
            class="image"
            src="https://yourwellnessimageurl.com"
          />
          <h3 class="text-center">Soulful Connection</h3>
          <p>Nurture your soul with meaningful connections and join a community of like-minded individuals.</p>
          <a class="mt-1" href="/connection"
            >Connect with Us</a
          >
        </div>
      </div>
      
    </section>

    <!-- FAQ Section starts here -->
    <section class="FAQ" id="main-faq">
      <h1 class="acad">SoulQuoτient :</h1>
      <h1>Frequently Asked Questions</h1>
      <p class="p-3">
        Discover answers to commonly asked questions and our community <br />
        guidelines, fostering a supportive and stress-free environment on your wellness journey.
      </p>
      <div class="faq-box">
        <div class="faq-row">
          <button class="faq-btn">
            <span id="faq-quest">How do I begin my wellness journey?</span>
            <i class="fa-solid fa-plus faq-icon"></i>
          </button>
          <div class="faq-content">
            <p>Embark on your wellness journey by exploring our curated resources and expert advice. Dive into practices that nourish your mind, body, and spirit, creating a foundation for holistic well-being.</p>
          </div>
        </div>
        <div class="faq-row">
          <button class="faq-btn">
            <span id="faq-quest">Can I contribute my wellness insights?</span>
            <i class="fa-solid fa-plus faq-icon"></i>
          </button>
          <div class="faq-content">
            <p>Absolutely! Your contributions are valuable. Share your wellness insights, stories, or practices with our community. Together, we enrich our collective well-being.</p>
          </div>
        </div>
        <div class="faq-row">
          <button class="faq-btn">
            <span id="faq-quest">How do I connect with the SoulQuoτient  community?</span>
            <i class="fa-solid fa-plus faq-icon"></i>
          </button>
          <div class="faq-content">
            <p>Join our vibrant community discussions, workshops, and events. Connect with like-minded individuals on the same wellness journey, sharing support and inspiration.</p>
          </div>
        </div>
        <div class="faq-row">
          <button class="faq-btn">
            <span id="faq-quest">How can I share my feedback or suggestions?</span>
            <i class="fa-solid fa-plus faq-icon"></i>
          </button>
          <div class="faq-content">
            <p>We value your input! Share your feedback or suggestions by clicking on the CONTACT US button. Your insights help us enhance and tailor our offerings to meet your wellness needs.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer starts here -->
    <section>
      <footer>
        <hr class="footer-divider"/>
        <div class="footer-row">
          <div class="footer-col-first">
            <h2>SoulQuoτient  </h2>
            <p>Your Companion to Cultivate a Regular</p>
            <p>and Nurturing Wellness Practice.</p>
            <a href="https://www.buymeacoffee.com/kaurharmehh" class="buyMeCoffee-btn">
              <div class="mt-5 d-flex align-items-center">
                <img class="img-buy-coffee mr-3" src="images/buyMeCoffeeLogo.png">
                Help us grow more
              </div>
            </a>
          </div>
          <div class="footer-col footer-col-second">
            <h2>
              Support
              <div class="underline"><span></span></div>
            </h2>
            <!-- <p>Help center</p>
            <a class="email-id" href="mailto:studentCommunityClub79@gmail.com">studentCommunityClub79@gmail.com</a> -->
            <p class="footer-icon-contact mt-4">Contact us at -</p>
            <div class="social-icons">
              <!-- change the link for a facebook id of one of us -->
              <a href="mailto:kaurharmehar9717@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>

              <!-- change to insta of one of us  -->
              <a href="https://www.instagram.com/balkar__sidhu_/"
                ><i class="fa fa-instagram"></i
              ></a>

              <!-- change to twitter of one of us  -->
              <a href="https://twitter.com/DilpreetS2002"
                ><i class="fa fa-twitter"></i
              ></a>

              <!-- change to linkedin of one of us -->
              <a href="https://www.linkedin.com/in/gurveenmadaan/"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="footer-col footer-col-third">
            <h2>
              Product
              <div class="underline"><span></span></div>
            </h2>
            <ul>
              <li><a href="/meetingroom">Meeting Room</a></li>
              <li><a href="https://discord.gg/ZkHXnxhda7" target="_blank">Discord Server</a></li>
              <li><a href="/wellness">Wellness Statistics</a></li>
            </ul>
          </div>
          <div class="footer-col-fourth">
            <div class="btn-container center">
              <a
                href="/subscribe"
                class="button-primary button-all"
                type="button"
                style="color: white"
                >Join Us</a
              >
            </div>
          </div>
        </div>
        <div class="footer-row2">
          <div class="footer-col">
            <p>2023SoulQuoτient Inc. Copyright and All rights reserved.</p>
          </div>
          <div class="footer-col">
            <p>Terms and Condition . Privacy Policy</p>
          </div>
        </div>
      </footer>
    </section>
  </div>
    <!-- Custom JS -->
    <script src="js/faq.js"></script>
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>

    <!-- BOOTSTRAP JS CDN LINK GOES HERE -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>
