<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoulQuoτient</title>
</head>


<!-- FONTAWESOME CDN LINK -->
<script src="https://kit.fontawesome.com/623d2ea8a9.js" crossorigin="anonymous"></script>

<!-- BOOTSTRAP CDN LINK GOES HERE -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />

<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/meditation.css" />

</head>

<body>

  <!-- Navbar starts here -->
  <nav id="nav" class="center p-4 w-100">
    <div class="nav-container w-100 d-flex align-items-center justify-content-between">
      <a class="logo" href="/"> SoulQuoτient </a>

      <div class="navbar-links">
        <ul class="center">
          <li class="pl-3 pr-3"><a href="/"> Home </a></li>
          <li class="pl-3 pr-3">
            <a href="https://discord.gg/x7kjkZ23Hr" target="_blank">Discord Server</a>
          </li>
          <li class="pl-3 pr-3"><a href="/wellness">Wellness Statistics</a></li>
          <li class="pl-3 pr-3"><a href="https://youtube.com" target="_blank">YouTube</a></li>
        </ul>
      </div>

      <div class="btn-container center">
        <a href="/subscribe" class="button-primary button-all">
          Join Us
        </a>
      </div>
    </div>
  </nav>
  <!-- Navbar ends here -->


  <div class="meetingroom-container m-auto">

    <div class="main-container-studyroom w-100 d-flex justify-content-between align-items-center">
      <div class="text-container-wellnessroom heading-container">

        <h1 class="heading"> Manifestation </h1>
        <h3 class="mb-5 heading">Harmonize Your Reality: Cultivate Inner Power and Manifest Your Desires Through the Art
          of Conscious Creation.</h3>

        <div class="mt-5 icon-container heading">
          Step into the liberating realm of manifestation, where the energy of your thoughts weaves a tapestry of
          boundless possibilities and the chaos of the external world transform into a space of creative abundance.
          Embrace the art of intentional living and embark on an exploration of self-discovery, guided by the vibrant
          current of your dreams and the melodic beat of your aspirations. Our manifestation sanctuary is an oasis for
          those seeking to unlock the power of their intentions, inviting you to delve into the transformative depths of
          self-awareness and empowerment. Surround yourself with vivid imagery that harmoniously aligns with your
          manifestation practice, each detail a brushstroke on the canvas of your dreams, leading you to a place where
          the imagination becomes reality, and the spirit aligns with its true potential. Welcome to a sanctuary of
          manifestation, where every idea is a catalyst for profound transformation and each step forward is a conscious
          stride toward the realization of your deepest desires.
        </div>
      </div>

      
      <div>
        <img src="images/manisfestation.jpg" alt="description image" class="image-meditation">
      </div>
    </div>

    <div class="room-main">
      <!-- blogs section start here  -->
      <section class="blog-section">
        <h2 class="heading">Explore Manifestation Blogs</h2>

        <article class="blog-content">
          <h3>Believe and Overcome Blocks - Mia Fox</h3>
          <p>
            We all have different beliefs that we carry around with us. We do not even pay attention to most of them and
            rarely think about them. The problem is, they are often major abundance blocks, that hold us back from
            manifesting.We get most of these beliefs from people we look up to, parents, teachers, and other people we
            relate to. But we also acquire some of them over time....
          </p>
          <a href="https://selfmadeladies.com/overcome-limiting-beliefs-manifest-dreams/" target="_blank">Read More</a>
        </article>

        <article class="blog-content">
          <h3>Abundance Mindset - Juliette Kristine</h3>
          <p>
            Fear, uncertainty, stress, worry and having a limited mindset can make your energy contract. And when you
            are
            trying to manifest all those beautiful goals on your vision board this contracted energy is not helping you
            to EXPAND and align with your future vision. So how do you ignore the evidence in your experience that is
            expanding the fear so you can continue to GROW and manifest your next level? Seven practical and energetic
            shifts for maintaining an abundance mindset. Before we dive in…
          </p>
          <a href="https://www.juliettekristine.com/blog/maintaining-an-abundance-mindset" target="_blank">Read More</a>
        </article>

        <article class="blog-content">
          <h3>Money, Manifestation, Intuition - Kathrin Zenkina</h3>
          <p>
            MONEY. Most people are looking for abundance in their lives and ways to grow their business and make more
            money. Having a default, limited, scarcity-based mindset and relationship with money will make it really
            difficult to achieve those goals...
          </p>
          <a href="https://manifestationbabe.com/2023/11/01/how-to-get-what-you-really-want-money-manifestation-intuition/"
            target="_blank">Read More</a>
        </article>

        <article class="blog-content">
          <h3>Secrets Of Manifestation - Dorothy Ratusny</h3>
          <p>
            What have you already brought into your life by your direct choosing of it, as the result of doing what
            you have always done, of not choosing something different? What have you manifested that you do not want?In
            the beautiful nature of your life, you are a co-creator with the universe. If you believe that you are a
            part of the greater whole, that you are not separate from source energy, then what you are able to manifest
            is the result of your choosing...
          </p>
          <a href="https://insighttimer.com/blog/how-to-manifest/" target="_blank">Read More</a>
        </article>


        <article class="blog-content">
          <h3>Do's and Don'ts of manifesting - Gabby Bernstein</h3>
          <p>
            Manifesting isn't about getting; it's about allowing. As soon as you let go of control you become a magnet
            for what you desire. Too often, people try to control and end up feeling stuck, blocked or powerless.
            Instead, you need to harness the creative forces within you and take powerful actions..
          </p>
          <a href="https://gabbybernstein.com/dos-donts-manifesting/" target="_blank">Read More</a>
        </article>

      </section>
    </div>


</body>
</html>

