<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulQuotient</title>
  </head>

  <body>
  <h1>MANIFESTATION</h1>

    <h2>BLOGS</h2>
      <tr class="header">
              
        <th class="auto-style3">
          <th style="width:5%;">SELF MADE LADIES</th>
          <th style="width:5%;">THE K PRINT</th>
          <th style="width:5%;">THE MANIFESTATION BABE</th>
          <th style="width:5%;">GOOD VIBES</th>
          <th style="width:5%;">ALIGNED LIFE</th>
        </th>
        <th class="auto-style3">ALL</th>
      </tr>

      <tr>
        <td>1</td>
        <a href="https://selfmadeladies.com/manifesting-law-of-attraction-blog/">SELF MADE LADIES</a>
        <td>MIA FOX</td>
        <td><a href="https://selfmadeladies.com/how-to-manifest/" target="_blank">How To Manifest</a></td>
        <td><a href="https://selfmadeladies.com/law-of-attraction-misconceptions/" target="_blank">Manifestation Myths Busted</a></td>
        <td><a href="https://selfmadeladies.com/believe-law-of-attraction/" target="_blank">Believe and Overcome Blocks</a></td>
      </tr>

      <tr>
        <td>2</td>
        <a href="https://www.juliettekristine.com/blog">THE K PRINT</a>
        <td>JULIETTE KRISTINE</td>
        <td><a href="https://www.juliettekristine.com/blog/the-pillow-manifestation-method" target="_blank">Pillow Manifestation</a></td>
        <td><a href="https://www.juliettekristine.com/blog/creating-your-2024-vision-board-manifesting-success-health-and-abundance" target="_blank">Vision Board 101</a></td>
        <td><a href="https://www.juliettekristine.com/blog/maintaining-an-abundance-mindset" target="_blank">Abundance Mindset</a></td>
      </tr>

      <tr>
        <td>3</td>
        <a href="https://manifestationbabe.com/blog/">MANIFESTATION BABE</a>
        <td>KATHRIN ZENKINA</td>
        <td><a href="https://manifestationbabe.com/2023/11/02/my-no-bs-approach-to-actually-letting-go-releasing-your-manifestation/" target="_blank">Letting Go And Releasing</a></td>
        <td><a href="https://manifestationbabe.com/2023/11/01/my-most-impactful-success-hack-seeking-discomfort/" target="_blank">Success Hack</a></td>
        <td><a href="https://manifestationbabe.com/2023/11/01/how-to-get-what-you-really-want-money-manifestation-intuition/" target="_blank">Money, Manifestation, Intuition</a></td>
      </tr>

      <tr>
        <td>4</td>
        <a href="https://www.goodvibeblog.com/">GOOD VIBES</a>
        <td>JEANNETTE MAW</td>
        <td><a href="https://www.goodvibeblog.com/persistent-thanks-power/" target="_blank">Persistant Power</a></td>
        <td><a href="https://www.goodvibeblog.com/the-art-of-setting-intentions/" target="_blank">Setting Intentions</a></td>
        <td><a href="https://www.goodvibeblog.com/ease-beats-effort/" target="_blank">Ease Beats Effort</a></td>
      </tr>

      <tr>
        <td>5</td>
        <a href="https://www.thealignedlife.co">ALIGNED LIFE</a>
        <td>JENN</td>
        <td><a href="https://www.thealignedlife.co/self-healing/" target="_blank">Self Healing</a></td>
        <td><a href="https://www.thealignedlife.co/perfectionist-thinking/" target="_blank">Toxic Perfectionist Thinking</a></td>
        <td><a href="https://www.thealignedlife.co/declutter-your-entire-life-to-create-abundance/" target="_blank">Declutter Your Entire Life</a></td>
      </tr>

    <h2>INSTAGRAM</h2>
      <tr>
        <td>1</td>
        <a href="https://www.instagram.com/tobemagnetic">TO BE MAGNETIC</a>
        <td>LACY PHILLIPS</td>
      </tr>

      <tr>
        <td>2</td>
        <a href="https://www.instagram.com/hothighpriestess">THE PRIESTESS PRINT</a>
        <td>SARAH PERL</td>
      </tr>

      <tr>
        <td>3</td>
        <a href="https://www.instagram.com/gabbybernstein/">DEAR GABBY</a>
        <td>GABRIELLE BERNSTEIN</td>
      </tr>

      <tr>
        <td>4</td>
        <a href="https://www.instagram.com/aliciadimichele/">BADASS MAMA</a>
        <td>ALICIA DIMICHELE</td>
      </tr>

      <tr>
        <td>5</td>
        <a href="https://www.instagram.com/sarahprout/">DEAR UNIVERSE</a>
        <td>SARAH PROUT</td>
      </tr>


    <h2>YOUTUBE</h2>
      <tr>
        <td>1</td>
        <a href="https://www.youtube.com/channel/UCasZhfP_3kMQ2pwNdsvgoxQ">@SAMMYINGRAM</a>
        <td>SAMMY INGRAM</td>
      </tr>

      <tr>
        <td>2</td>
        <a href="https://www.youtube.com/c/LeeorAlexandra">@LEEORALEXANDRA</a>
        <td>LEEOR ALEXANDRA</td>
      </tr>

      <tr>
        <td>3</td>
        <a href="https://www.youtube.com/channel/UC48MclMZIY_EaOQwatzCpvw">@AARONDOUGHTY</a>
        <td>AARON DOUGHTY</td>
      </tr>

      <tr>
        <td>4</td>
        <a href="https://www.youtube.com/@Thewizardliz">@THEWIZARDLIZ</a>
        <td>THEWIZARDLIZ</td>
      </tr>

      <tr>
        <td>5</td>
        <a href="https://www.youtube.com/@AbrahamHicks">@ABRAHAMHICKSPUBLICATIONS</a>
        <td>ABRAHAM HICKS PUBLICATIONS</td>
      </tr>

</body>
</html>

