<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Stats</title>
</head>
<body>
    <h1> This is a dummy page since the route is not confirmed yet have to redirect from all pages.</h1>
</body>
</html>