<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= title  %>
    </title>

    <!-- FONTAWESOME CDN LINK -->
    <script
      src="https://kit.fontawesome.com/623d2ea8a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- BOOTSTRAP CDN LINK GOES HERE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    
    <!-- Navbar starts here -->
    <nav id="nav" class="center p-4 w-100">
      <div
        class="nav-container w-100 d-flex align-items-center justify-content-between"
      >
        <a class="logo" href="/"> SoulQuoτient </a>

        <div class="navbar-links">
          <ul class="center">
            <li class="pl-3 pr-3"><a href="/"> Home </a></li>
            <li class="pl-3 pr-3">
              <a href="https://discord.gg/ZkHXnxhda7" target="_blank">Discord Server</a>
            </li>
            <li class="pl-3 pr-3"><a href="/wellness">Wellness Statistics</a></li>
            <li class="pl-3 pr-3"><a href="https://github.com" target="_blank">You Tube</a></li>
          </ul>
        </div>

        <div class="btn-container center">
          <a
            href="/subscribe"
            class="button-primary button-all"
          >
            Join Us
          </a>
        </div>
      </div>
    </nav>
    <!-- Navbar ends here -->


    <div class="studyroom-container m-auto">
      
      <div class="main-container-studyroom w-100 d-flex justify-content-between align-items-center">
        <div class="img-container">
          <img src="https://images.unsplash.com/photo-1607013407627-6ee814329547?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=664&q=80" alt="acad" class="sr-img acadmic">
          <img src="https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="devdo" class="sr-img devdo">
          <img src="https://images.unsplash.com/photo-1565688534245-05d6b5be184a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="dsa" class="sr-img dsa">
        </div>
      
      
        <div class="text-container-wellnessroom">

          <h1>Dummy Content</h1>
          <h1 class="mb-5">into <span>three</span> realms</h1>
        
          <div class="mt-5 icon-container">
            Scroll down to explore them all. <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
        

      </div>

      <div class="room-main">
        <section>
            <h2>Explore Wellness Blogs</h2>
        
            <article>
              <h3>Embracing Mindfulness: A Journey to Inner Peace</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec urna a augue scelerisque suscipit
                et ac mi.</p>
              <a href="/blog/mindfulness">Read More</a>
            </article>
        
            <article>
              <h3>Yoga for Beginners: Finding Balance in Body and Mind</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec urna a augue scelerisque suscipit
                et ac mi.</p>
              <a href="/blog/yoga">Read More</a>
            </article>
        
            <article>
              <h3>The Power of Positive Thinking: A Guide to Manifestation</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec urna a augue scelerisque suscipit
                et ac mi.</p>
              <a href="/blog/manifestation">Read More</a>
            </article>
        
          </section>
        
      
            <a href="/wellness-resources">
            <h1 class="mt-5 mb-5">Holistic 
                <span>Wellness Resources</span>
            </h1>
            </a>
      </div>

    </div>


    <!-- Footer starts here -->
    <section>
      <footer>
        <hr class="footer-divider"/>
        <div class="footer-row">
          <div class="footer-col-first">
            <h2>SoulQuoτient </h2>
            <p>Your Companion to Cultivate a Regular</p>
            <p>and Nurturing Wellness Practice.</p>
            <a href="https://www.buymeacoffee.com/kaurharmehh" class="buyMeCoffee-btn">
              <div class="mt-5 d-flex align-items-center">
                <img class="img-buy-coffee mr-3" src="images/buyMeCoffeeLogo.png">
                Help us grow more
              </div>
            </a>
          </div>
          <div class="footer-col footer-col-second">
            <h2>
              Support
              <div class="underline"><span></span></div>
            </h2>
            <!-- <p>Help center</p>
            <a class="email-id" href="mailto:studentCommunityClub79@gmail.com">studentCommunityClub79@gmail.com</a> -->
            <p class="footer-icon-contact mt-4">Contact us at -</p>
            <div class="social-icons">
              <!-- change the link for a facebook id of one of us -->
              <a href="mailto:kaurharmehar9717@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>

              <!-- change to insta of one of us  -->
              <a href="https://www.instagram.com/balkar__sidhu_/"
                ><i class="fa fa-instagram"></i
              ></a>

              <!-- change to twitter of one of us  -->
              <a href="https://twitter.com/DilpreetS2002"
                ><i class="fa fa-twitter"></i
              ></a>

              <!-- change to linkedin of one of us -->
              <a href="https://www.linkedin.com/in/gurveenmadaan/"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="footer-col footer-col-third">
            <h2>
              Product
              <div class="underline"><span></span></div>
            </h2>
            <ul>
              <li><a href="/meetingroom">Meeting Room</a></li>
              <li><a href="https://discord.gg/ZkHXnxhda7" target="_blank">Discord Server</a></li>
              <li><a href="/wellness">Wellness Statistics</a></li>
            </ul>
          </div>
          <div class="footer-col-fourth">
            <div class="btn-container center">
              <a
                href="/subscribe"
                class="button-primary button-all"
                type="button"
                style="color: white"
                >Join Us</a
              >
            </div>
          </div>
        </div>
        <div class="footer-row2">
          <div class="footer-col">
            <p>2023SoulQuoτient Inc. Copyright and All rights reserved.</p>
          </div>
          <div class="footer-col">
            <p>Terms and Condition . Privacy Policy</p>
          </div>
        </div>
      </footer>
    </section>

    <script src="js/faq.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>
