<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= title  %>
    </title>

    <!-- FONTAWESOME CDN LINK -->
    <script
      src="https://kit.fontawesome.com/623d2ea8a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- BOOTSTRAP CDN LINK GOES HERE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    
    <!-- Navbar starts here -->
    <nav id="nav" class="center p-4 w-100">
      <div
        class="nav-container w-100 d-flex align-items-center justify-content-between"
      >
        <a class="logo" href="/"> Soul Quoτient </a>

        <div class="navbar-links">
          <ul class="center">
            <li class="pl-3 pr-3"><a href="/"> Home </a></li>
            <li class="pl-3 pr-3">
              <a href="https://discord.gg/XwtMJXrv" target="_blank">Discord Server</a>
            </li>
            <li class="pl-3 pr-3"><a href="/wellness">Wellness Statistics</a></li>
            <li class="pl-3 pr-3"><a href="https://youtube.com" target="_blank">YouTube</a></li>
          </ul>
        </div>

        <div class="btn-container center">
          <a
            href="/subscribe"
            class="button-primary button-all"
          >
            Join Us
          </a>
        </div>
      </div>
    </nav>
    <!-- Navbar ends here -->


    <div class="studyroom-container m-auto">
      
      <div class="main-container-studyroom w-100 d-flex justify-content-between align-items-center">
        <div class="img-container">
          <img src="https://images.unsplash.com/photo-1607013407627-6ee814329547?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=664&q=80" alt="acad" class="sr-img acadmic">
          <img src="https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="devdo" class="sr-img devdo">
          <img src="https://images.unsplash.com/photo-1565688534245-05d6b5be184a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="dsa" class="sr-img dsa">
        </div>
      
      
        <div class="text-container-wellnessroom">

          <h1>Dummy Content</h1>
          <h1 class="mb-5">into <span>three</span> realms</h1>
        
          <div class="mt-5 icon-container">
            Scroll down to explore them all. <i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
        

      </div>

      <div class="room-main">
        <section>
            <h2>Explore Wellness Blogs</h2>
        
            <article>
              <h3>Embracing Mindfulness: A Journey to Inner Peace</h3>
              <p>Embracing mindfulness is indeed a journey to inner peace, and it involves cultivating a heightened awareness of the present moment without judgment. Mindfulness draws inspiration from ancient contemplative practices, particularly in Buddhist traditions, but it has found its way into modern psychology and wellness for its profound impact on mental and emotional well-being.
                <br>
                Here's a guide to help you on your journey to inner peace through mindfulness:
                <br>
                <h5>Understanding Mindfulness:</h5>
                <br>
                Definition: Mindfulness involves paying attention to the present moment intentionally and non-judgmentally. It's about being fully engaged in whatever you're doing without getting lost in thoughts about the past or future.
                <br>
                Breath Awareness: Start by focusing on your breath. Pay attention to each inhale and exhale. When your mind wanders, gently bring it back to your breath.
                <br>
                <br>
                <h5>Incorporating Mindfulness into Daily Life:</h5>
                <br>
                Mindful Eating: Pay full attention to the colors, textures, and flavors of your food. Eat slowly, savoring each bite. This practice helps you appreciate the act of eating and can lead to healthier habits.
                <br>
                Mindful Walking: Whether you're taking a leisurely stroll or just moving from one room to another, be present in each step. Feel the ground beneath your feet and observe your surroundings.
                <br>
                <br>
                <h5>Developing a Mindfulness Meditation Practice:</h5>
                <br>
                Start Small: Begin with short sessions, gradually increasing the duration as you become more comfortable. Even just a few minutes a day can make a difference.
                <br>
                Guided Meditations: Use guided meditations to help you focus. There are numerous apps and online resources that offer guided mindfulness sessions.
                <br>
                <br>
                <h5>Cultivating a Mindful Mindset:</h5>
                <br>
                Non-Judgmental Awareness: Practice observing your thoughts without attaching judgment to them. Understand that thoughts come and go, and you don't have to react to every thought.
                <br>
                Gratitude Practice: Regularly take time to reflect on things you're grateful for. This can shift your focus toward positivity and contentment.
                <br>
                <br>
                <h5>Overcoming Challenges:</h5>
                <br>
                Patience and Persistence: Like any skill, mindfulness takes practice. Be patient with yourself and continue to cultivate the habit even on days when it feels challenging.
                <br>
                Mindful Coping: When faced with stress or challenges, use mindfulness as a tool for coping. Instead of reacting impulsively, take a moment to breathe and respond with intention.
                <br>
                <br>
                </p>
              <a href="/blog/mindfulness">Read More</a>
            </article>
        
            <article>
              <h3>Yoga for Beginners: Finding Balance in Body and Mind</h3>
              <p>Embarking on a yoga journey as a beginner is a wonderful way to find balance in both your body and mind. Yoga is not just a physical practice; it's a holistic approach to well-being that combines movement, breath, and mindfulness. Here's a guide to help beginners get started and find balance through yoga:

                <h5>Getting Started:</h5>
                Choose the Right Style: There are various styles of yoga, each with its own emphasis. Hatha and Vinyasa are good choices for beginners. Hatha is slower-paced and focuses on basic poses, while Vinyasa links movement with breath.
                <br>
                Start with Basic Poses: Begin with foundational poses like Mountain Pose, Downward-Facing Dog, and Warrior I. These poses build strength, flexibility, and awareness.
                <br>
                Set Realistic Goals: Start with a realistic and manageable practice schedule. It's better to practice regularly for a shorter duration than sporadically for a longer time.
                <br>
                <br>

                <h5>Breath Awareness:</h5>
                Practice Ujjayi Breathing: Ujjayi breath involves breathing in and out through the nose with a slight constriction in the back of the throat. This helps calm the mind and keeps you focused during practice.
                <br>
                Coordinate Breath and Movement: Inhale as you expand or lift, and exhale as you contract or fold. This coordination enhances the flow of your practice and helps you stay present.
                <br>
                <br>
                <h5>Building Flexibility and Strength:</h5>
                Be Gentle with Yourself: Yoga is about progress, not perfection. Listen to your body, and don't force yourself into poses. Use props like blocks or straps to modify as needed.
                <br>
                Include Balancing Poses: Poses like Tree Pose or Warrior III help improve balance and concentration. They also engage various muscle groups, contributing to overall strength.
                <br>
                <h5>Mindful Practice:</h5>
                Focus on the Present Moment: Cultivate mindfulness by paying attention to your body, breath, and sensations. This not only enhances the benefits of the physical practice but also promotes mental well-being.
                <br>
                Practice Savasana (Corpse Pose): Allow time at the end of your practice for Savasana. This pose promotes relaxation and integration, giving your body and mind a chance to absorb the benefits of your practice.
                <br>
                <br>
                </p>
              <a href="/blog/yoga">Read More</a>
            </article>
        
            <article>
              <h3>The Power of Positive Thinking: A Guide to Manifestation</h3>
              <p>The power of positive thinking is often associated with the concept of manifestation, where the idea is that your thoughts and attitudes can influence your reality. While it's important to approach this with a realistic mindset, cultivating positive thinking can indeed have a significant impact on your life. Here's a guide to harnessing the power of positive thinking for manifestation:

                <h5>Understanding Positive Thinking:</h5>
                Awareness of Thoughts: Pay attention to your thoughts and internal dialogue. Identify negative patterns and consciously work on shifting them toward a more positive perspective.
                <br>
                Affirmations: Use positive affirmations to reinforce optimistic beliefs. Create statements that reflect the reality you want to manifest, and repeat them regularly with conviction.
                <br>
                <br>
                <h5>Setting Positive Intentions:</h5>
                Clarify Your Goals: Clearly define your goals and desires. Be specific about what you want to achieve, whether it's related to career, relationships, health, or personal development.
                <br>
                Visualize Success: Create mental images of yourself achieving your goals. Visualization can enhance your belief in the possibility of success and motivate you to take positive actions.
                <br>
                <br>
                <h5>Cultivating a Positive Mindset:</h5>
                Gratitude Practice: Regularly express gratitude for the positive aspects of your life. This practice shifts your focus from what you lack to what you have, fostering a positive mindset.
                <br>
                Positive Self-Talk: Replace self-critical thoughts with positive affirmations and encouraging self-talk. Treat yourself with the same kindness and support you would offer to a friend.
                <br>
                <br>
                <h5>Overcoming Obstacles:</h5>
                Reframe Challenges: Instead of viewing challenges as insurmountable obstacles, see them as opportunities for growth and learning. Focus on solutions rather than dwelling on problems.
                <br>
                Learn from Setbacks: When setbacks occur, view them as temporary and as opportunities to learn. Identify the lessons, adjust your approach, and move forward with renewed determination.
                <br>
                <br>
                <h5>Surrounding Yourself with Positivity:</h5>
                Positive Influences: Surround yourself with people who uplift and support you. Positive social connections can contribute to a more optimistic outlook.
                <br>
                Limit Negative Influences: Minimize exposure to negative influences, whether they're people, media, or environments. Create a space that nurtures positivity.
                <br>
                <br>
                <h5>Taking Positive Actions:</h5>
                Set Small Goals: Break down larger goals into smaller, manageable tasks. Achieving these smaller goals reinforces a positive mindset and builds momentum.
                <br>
                Take Inspired Action: Positive thinking is most effective when combined with proactive steps. Take inspired action toward your goals, and trust that your efforts will contribute to the manifestation process.
                <br>
                <br>
                
                </p>
              <a href="/blog/manifestation">Read More</a>
            </article>
        
          </section>
        
      
            <a href="/wellness-resources">
            <h1 class="mt-5 mb-5">Holistic 
                <span>Wellness Resources</span>
            </h1>
            </a>
      </div>

    </div>


    <!-- Footer starts here -->
    <section>
      <footer>
        <hr class="footer-divider"/>
        <div class="footer-row">
          <div class="footer-col-first">
            <h2>SoulQuoτient </h2>
            <p>Your Companion to Cultivate a Regular</p>
            <p>and Nurturing Wellness Practice.</p>
            <a href="https://www.buymeacoffee.com/kaurharmehh" class="buyMeCoffee-btn">
              <div class="mt-5 d-flex align-items-center">
                <img class="img-buy-coffee mr-3" src="images/buyMeCoffeeLogo.png">
                Help us grow more
              </div>
            </a>
          </div>
          <div class="footer-col footer-col-second">
            <h2>
              Support
              <div class="underline"><span></span></div>
            </h2>
            <!-- <p>Help center</p>
            <a class="email-id" href="mailto:studentCommunityClub79@gmail.com">studentCommunityClub79@gmail.com</a> -->
            <p class="footer-icon-contact mt-4">Contact us at -</p>
            <div class="social-icons">
              <!-- change the link for a facebook id of one of us -->
              <a href="mailto:kaurharmehar9717@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>

              <!-- change to insta of one of us  -->
              <a href="https://www.instagram.com/balkar__sidhu_/"
                ><i class="fa fa-instagram"></i
              ></a>

              <!-- change to twitter of one of us  -->
              <a href="https://twitter.com/DilpreetS2002"
                ><i class="fa fa-twitter"></i
              ></a>

              <!-- change to linkedin of one of us -->
              <a href="https://www.linkedin.com/in/gurveenmadaan/"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="footer-col footer-col-third">
            <h2>
              Product
              <div class="underline"><span></span></div>
            </h2>
            <ul>
              <li><a href="/meetingroom">Meeting Room</a></li>
              <li><a href="https://discord.gg/XwtMJXrv" target="_blank">Discord Server</a></li>
              <li><a href="/wellness">Wellness Statistics</a></li>
            </ul>
          </div>
          <div class="footer-col-fourth">
            <div class="btn-container center">
              <a
                href="/subscribe"
                class="button-primary button-all"
                type="button"
                style="color: white"
                >Join Us</a
              >
            </div>
          </div>
        </div>
        <div class="footer-row2">
          <div class="footer-col">
            <p>2023SoulQuoτient Inc. Copyright and All rights reserved.</p>
          </div>
          <div class="footer-col">
            <p>Terms and Condition. Privacy Policy.</p>
          </div>
        </div>
      </footer>
    </section>

    <script src="js/faq.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>
