<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      SoulQuoτient
    </title>

    <!-- FONTAWESOME CDN LINK -->
    <script
      src="https://kit.fontawesome.com/623d2ea8a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- BOOTSTRAP CDN LINK GOES HERE -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/yoga.css" />
  </head>
  <body>
    
    <!-- Navbar starts here -->
    <nav id="nav" class="center p-4 w-100">
      <div
        class="nav-container w-100 d-flex align-items-center justify-content-between"
      >
        <a class="logo" href="/"> SoulQuoτient </a>

        <div class="navbar-links">
          <ul class="center">
            <li class="pl-3 pr-3"><a href="/"> Home </a></li>
            <li class="pl-3 pr-3">
              <a href="https://discord.gg/XwtMJXrv" target="_blank">Discord Server</a>
            </li>
            <li class="pl-3 pr-3"><a href="/wellness">Wellness Statistics</a></li>
            <li class="pl-3 pr-3"><a href="https://github.com" target="_blank">YouTube</a></li>
          </ul>
        </div>

        <div class="btn-container center">
          <a
            href="/subscribe"
            class="button-primary button-all"
          >
            Join Us
          </a>
        </div>
      </div>
    </nav>
    <!-- Navbar ends here -->


    <div class="studyroom-container m-auto">
      
      <div class="main-container-studyroom w-100 d-flex justify-content-between align-items-center">
        <div class="img-container">
          <img src="images/yoga1.jpg" alt="img" class="sr-img acadmic">
          <img src="images/yoga2.jpg" alt="yoga2" class="sr-img devdo">
          
          <img src="images/yoga3.jpg" alt="yoga4" class="sr-img new">
        </div>
      
        
        <div class="text-container-wellnessroom">

          <h1>YOGA</h1>
          <h1 class="mb-5">Unlock the Path to  <span>Self-Discovery</span>: A Yoga Sanctuary for Mindful Transformation</h1>
        
          <div class="mt-5 icon-container">
            Our yoga sanctuary is a gateway to uncovering the wisdom within and finding complete serenity. Each pose is a brushstroke of mindful awareness, aligning the body and the mind to unlock its true potential. Let the vibrant energy of each posture create a tapestry of boundless possibility, transforming the chaos of the outside world into an oasis of creative abundance. Welcome to a place of liberation, where each breath is a conduit for profound transformation, and every mindful movement is a conscious step on the journey to realizing your innermost desires. Allow yourself to be immersed in the liberating power of yoga, where the spirit dances to the rhythm of mindful intention and the body finds peace. Here, you can find freedom through self-expression and joy through mindful living.
             Join us in this serene haven of yogic exploration, and embark on a transformative journey of liberation and serenity.<i class="fa-solid fa-arrow-down"></i>
          </div>
        </div>
        

      </div>

      <div class="room-main">
        <section>
  <h2>Explore Yoga Blogs</h2>

  <article>
    <h3>Yoga and Meditation: Connecting Body and Soul</h3>
    <p>Embark on a journey of self-discovery through the ancient practice of yoga and meditation. Learn how to connect your body and soul, fostering a sense of harmony and balance in your daily life. Discover the transformative power of mindful movement and breath, guiding you towards inner peace and serenity.</p>
    <a href="/blog/yoga-meditation">Read More</a>
  </article>

  <article>
    <h3>Unlocking the Secrets of Advanced Yoga Poses</h3>
    <p>Dive into the world of advanced yoga poses and unravel the secrets behind each intricate movement. Explore the physical and mental challenges posed by advanced asanas, and gain insights into the benefits they offer. Whether you're a seasoned yogi or just starting your journey, discover new possibilities for strength, flexibility, and mindfulness.</p>
    <a href="/blog/advanced-yoga">Read More</a>
  </article>

  <article>
    <h3>Mindful Breathing Techniques for a Calm Mind</h3>
    <p>Explore the art of mindful breathing and discover techniques to cultivate a calm and focused mind. Learn how conscious breathing can enhance your yoga practice and bring a sense of tranquility to your everyday life. Elevate your well-being as you delve into the transformative effects of mindful breathwork.</p>
    <a href="/blog/mindful-breathing">Read More</a>
  </article>
</section>

        
      
            <a href="/wellness-resources">
            <h1 class="mt-5 mb-5">Holistic 
                <span>Wellness Resources</span>
            </h1>
            </a>
      </div>

    </div>


    <!-- Footer starts here -->
    <section>
      <footer>
        <hr class="footer-divider"/>
        <div class="footer-row">
          <div class="footer-col-first">
            <h2>SoulQuoτient </h2>
            <p>Your Companion to Cultivate a Regular</p>
            <p>and Nurturing Wellness Practice.</p>
            <a href="https://www.buymeacoffee.com/kaurharmehh" class="buyMeCoffee-btn">
              <div class="mt-5 d-flex align-items-center">
                <img class="img-buy-coffee mr-3" src="images/buyMeCoffeeLogo.png">
                Help us grow more
              </div>
            </a>
          </div>
          <div class="footer-col footer-col-second">
            <h2>
              Support
              <div class="underline"><span></span></div>
            </h2>
            <!-- <p>Help center</p>
            <a class="email-id" href="mailto:studentCommunityClub79@gmail.com">studentCommunityClub79@gmail.com</a> -->
            <p class="footer-icon-contact mt-4">Contact us at -</p>
            <div class="social-icons">
              <!-- change the link for a facebook id of one of us -->
              <a href="mailto:kaurharmehar9717@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>

              <!-- change to insta of one of us  -->
              <a href="https://www.instagram.com/balkar__sidhu_/"
                ><i class="fa fa-instagram"></i
              ></a>

              <!-- change to twitter of one of us  -->
              <a href="https://twitter.com/DilpreetS2002"
                ><i class="fa fa-twitter"></i
              ></a>

              <!-- change to linkedin of one of us -->
              <a href="https://www.linkedin.com/in/gurveenmadaan/"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="footer-col footer-col-third">
            <h2>
              Product
              <div class="underline"><span></span></div>
            </h2>
            <ul>
              <li><a href="/meetingroom">Meeting Room</a></li>
              <li><a href="https://discord.gg/XwtMJXrv" target="_blank">Discord Server</a></li>
              <li><a href="/wellness">Wellness Statistics</a></li>
            </ul>
          </div>
          <div class="footer-col-fourth">
            <div class="btn-container center">
              <a
                href="/subscribe"
                class="button-primary button-all"
                type="button"
                style="color: white"
                >Join Us</a
              >
            </div>
          </div>
        </div>
        <div class="footer-row2">
          <div class="footer-col">
            <p>2023SoulQuoτient Inc. Copyright and All rights reserved.</p>
          </div>
          <div class="footer-col">
            <p>Terms and Condition . Privacy Policy</p>
          </div>
        </div>
      </footer>
    </section>

    <script src="js/faq.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  </body>
</html>
