@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --color-gray: #484848;
  --color-gray-varient: #5d5d5d;
  --color-white: #f2f2f3;
  --color-white-varient: #c4c4c4;
}

#not_found {
  position: relative;
  height: 100vh;
}

#not_found .not_found {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.not_found {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

.not_found .not_found_404 {
  position: relative;
  height: 220px;
}

.not_found .not_found_404 h1 {
  font-family: "Source Code Pro", monospace;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(
    130deg,
    var(--color-gray),
    var(--color-gray-varient)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.not_found_text h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 33px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.not_found_text p {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
  word-spacing: 3px;
}

.not_found_text a {
  font-family: "Source Code Pro", monospace;
  color: var(--color-gray);
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed var(--color-white-varient);
  border-radius: 2px;
}

.not_found_socials > a {
  display: inline-block;
  justify-content: center;
  line-height: 40px;
  width: 40px;
  font-size: 18px;
  color: var(--color-gray);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.not_found_socials > a:hover {
  color: var(--color-white);
  background-color: var(--color-white-varient);
  border-color: 1px solid var(--color-gray-varient);
}

@media only screen and (max-width: 480px) {
  .not_found .not_found_404 {
    position: relative;
    height: 168px;
  }

  .not_found .notfound_404 h1 {
    font-size: 142px;
  }

  .not_found_text h2 {
    font-size: 24px;
  }
}
