.p-4 {
    padding: 1em!important;
}

.heading-title{
    margin: 2rem;
}
.card {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform .2s; 
    background-color: #eafaf1;  
}
  
.text-home{
    font-size: 20px;
}
.card:hover {
    transform: scale(1.1); 
}

.but-mainpage{
    margin: 5rem; 
}


@media (max-width: 1000px) {
    .facilities-row {
        justify-content: center;
    }

    .facilities-col {
        flex: 0 1 calc(50% - 20px); 
    }
    
    .but-mainpage {
        margin: 1rem;
        margin-left: 15rem; 
    }
}

@media (max-width: 700px) {
    .facilities-col {
        flex: 0 1 calc(100% - 20px); 
    }
}


