body {
  background-color: #eafaf1; 
}


.heading-container{
    width: 100%;
    align-items: center;
    margin-top:0;
}

.heading{
    text-align: center;
    /* left:30rem;  */
}

.image-meditation{
    width: 50%;
    height: auto;
    border-radius:50% ;
    margin:10rem; 
}
  
.blog-content {
  background-color: #d4f5e3; /* Light Greenish Shade for the Card */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 5rem;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.blog-content:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

.blog-content h3 {
  color: #333;
}

.blog-content p {
  color: #666;
}

.blog-content a {
  /* color: #007bff; */
  text-decoration: none;
}

.blog-content a:hover {
  text-decoration: underline;
}

#nav-background{
  background-color: #eafaf1; /* Light Green */
}



/* Add a media query for max-width: 700px */
@media (max-width: 1000px) {
  .main-container-studyroom {
    margin: 1rem; /* Add some margin for spacing on smaller screens */
  }

  .text-container-wellnessroom {
    margin: 1rem; /* Add some margin for spacing on smaller screens */
  }
}

/* Existing styles */

.main-container-studyroom {
  flex-direction: row; /* Default direction is row */
}

.text-container-wellnessroom {
  width: 50%; /* Adjust the width of the text container */
}


/* Add a media query for max-width: 1000px to switch to a column layout */
@media (max-width: 1000px) {
  .main-container-studyroom {
    flex-direction: column; /* Change direction to column on smaller screens */
    align-items: center; /* Center items in the column */
  }

  .text-container-wellnessroom,
  .image-meditation {
    width: 100%; /* Make both text and image take up full width in column layout */
    margin: 1rem auto; /* Adjust margin for centering */
  }
}
